$primary: #9D4CBA;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat';
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.vertical-center /* parent element must have position: relative*/{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
}
.nav{
    height: 50px;
    position: relative;
}
.masthead{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo{
    display: inline-block;
    margin: 5px;
    margin-left: 70px;
    height: 30px;
}
.title{
    display: inline;
    margin: 0px;
    font-size: 24px;
    font-weight: 700;
}
.row-footer{
    background-color: #9D4CBA;
    // background-color: rgb(244,244,244);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.footer-item{
    text-align: center;
}

.footer-button{
    color: black;
    text-decoration: none;
}
.footer-button:hover{
    color: white;
    text-decoration: none;
}
.footer-logo{
   width: 5em;
}
.pfp_img{
    display: block;
    height: 100px;
    border-radius: 50%;
}
