h1{
    color: #9D4CBA;
    font-weight: 700;
    font-size: 64px;
}

.profile-title{
    position: relative;
    margin-top: 60px;
    height: 78px;
}

.profile-pic{
    align-self: flex-start;
    background-color: #D9D9D9;
    border-radius: 68.5px;
    height: 137px;
    width: 137px;
}

.profile-info{
    margin-left: 64px;
    margin-right: 64px;
}

.profile-col-1{
    margin-left: 20px;
}

.username{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 600;
}

.spaces-rated-num{
    color: #9D4CBA;
    font-weight: 500;
    font-size: 50px;
}

.spaces-span{
    font-size: 25px; 
    font-weight: 600;
}

.spaces{
    margin-left: 220px;
}

.spaces h2{
    font-size: 48px;
    color:#9D4CBA;
    margin-top: 150px;
}