<div class="row justify-content-center">
    <div class="edit-box">
        <form action="/user/editprofile" class="edit-form center" method="post">
            <input type="file" name="pfp" id="file-input">
            <label for="username">New Username</label>
            <input type="text" name="username" id="username">
            <label for="email">New Email Address</label>
            <input type="email" name="email" id="email">
            <label for="password1">New Password</label>
            <input type="password" name="password1" id="password1">
            <label for="password2">Confirm New Password</label>
            <input type="password" name="password2" id="password2">
            {{#if msg}}
                <div class="alert alert-danger" role="alert">{{msg}}</div>
            {{/if}}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</div>