<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/home.css">
    <script src="bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>
<body>
    
    <div class="container-fluid">
        {{!-- <div class="row nav justify-content-between">
            <div class="col-6">
                <div class="vertical-center masthead">
                    <img src="images/logo_purple.png" alt="logo_purple" class="nav-logo">            
                    <p class="title">Rate My Study Room</p>
                </div>
                
            </div>
            <div class="col-3 buttons">
                <div class="vertical-center">
                    <button type="button" class="btn btn-primary" style="width:150px">Login</button>
                    <button type="button" class="btn btn-outline-primary" style="width:150px">Register</button>
                </div>
                
            </div>
        </div> --}}
        <div class="row home-landing">
            <div class="vertical-center text-center">
                <p class="landing-headline">Find a study room now</p>
                <form class="searchbar" method = "POST" action = "/schoolsearch" novalidate>
                    <input type="text" placeholder="search for your school" name = "search">
                    <button class="fa-solid fa-magnifying-glass"></button>
                </form>
                
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center">
                    <p class="regprompt-head">Want to Rate a Room?</p>
                    <p style="font-weight: 500; font-size: 24px;">Make a Rate My Study Room Account</p>
                    <a href="/register" type="button" class="btn btn-primary" style="width:150px">Register</a>
                    </div>
            </div>
            <div class = "col">
                {{!-- <form class="text-center" method = "GET" action = "/schoolsearch"> --}}
                <div class = "text-center" >
                    <p class="regprompt-head">Want to View all Rooms?</p>
                    <p style="font-weight: 500; font-size: 24px;">See Our Selection of Schools</p>
                    <a href="/schoolsearch" type="button" class="btn btn-primary btn-large" style="width:150px" >View All</a>
                </div>
                </div>
            </div>
        </div>

        <br /><br />
    </div>


    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
</body>
</html>