<head>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/register.css">
</head>
<body>
    <br /><br />

        <div class="row d-flex justify-content-center">
            <div class="register">
                <h1 class="text-primary">Register</h1>
                <div class="register-box">
                    <form action="submit" class="register-form center" method="get">
                        <p>Username</p>
                        <input type="text" name="username" id="username">
                        <p>Email</p>
                        <input type="email" name="email" id="email">
                        <p>Password</p>
                        <input type="password" name="password1" id="password1">
                        <p>Confirm Password</p>
                        <input type="password" name="password2" id="password2">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="text-center">
                    <a href="/login" class="link-primary">Already have an account?</a>
                </div>
                
            </div>
        </div>


    </div>

    </body>
