<br /><br />

<form>
    <div class =  "form-row">
        <div class = "col-4">
             <input type = "text" class = "form-control" placeholder="Search for your school">
             <button type = "submit" class="fa-solid fa-magnifying-glass"></button>
        </div>
    </div>
</form>