$primary: #9D4CBA;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    font-family: 'Montserrat';
}
.title{
    margin-left: 0px;
    font-size: 24px;
    font-weight: 700;
}
.vertical-center /* parent element must have position: relative*/{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.nav{
    height: 50px;
    position: relative;
}
.nav-logo{
    margin-left: 70px;
    height: 30px;
}
.home-landing{
    background-color: rgb(224, 224, 224);
    height: 500px;
    position: relative;
}
.landing-headline{
    font-size: 32px;
    font-weight: 700;
}
.searchbar{
    width: 60%;
    display: inline-block;
}
.searchbar input{
    width: 30%;
    border: none;
    border-radius: 15px;
    text-indent: 12px;
}
.searchbar button{
    background: none;
    border: none;
    color: rgb(167, 167, 167);
    transform: translatex(-150%);
}
.search-box button:hover{
    color: #fff;
    background: #06283D;
}
.regprompt-head{
    font-size: 32px;
    font-weight: 500;
    color: #9D4CBA;
    margin-top: 50px;
}
