


    <br /><br />

    <div class="row">
        <div class="col">
            <div class="d-grid gap-2 col-8">
                <label for="name-form">
                    <h4>Name of Building</h4>
                </label>
                <input class="form-control" id="name-form" type="text" name="buildingname" required></input>
                <br />
                <label for="roomno-form">
                    <h4>Room Number</h4>
                </label>
                <input class="form-control" id="roomno-form" type="text" name="roomno" required></input>
                <br />
                <label for="location-form">
                    <h4>Address</h4>
                </label>
                <input class="form-control" id="location-form" type="text" name="address" required></input>
                <br />
                <label for="size-form">
                    <h4>Fits</h4>
                </label>
                <input class="form-control" id="size-form" type="text" name="fits" required></input>
            </div>
        </div>

        <div class="col">
            <label for="description-form">
                <h4>Add a Description</h4>
            </label>
            <textarea class="form-control" id="description-form" rows="5" name="description"></textarea>

            <br /><br />
            <label for="addimage"><h4>Add Images</h4></label><br>
            <input type="file" name="addimage" id="addimage" accept="image/png, image/jpeg, image/jpg" multiple>
            <br /><br /><br /><br /><br /><br /><br />

            <div class="d-grid gap-2 col-3">
                <input type="submit" class="btn btn-primary" value="Add Room"></input>
            </div>

        </div>
    </div>
