 <div class="col">
            <div class="d-grid gap-2 col-8">


                <label for="name-form">
                    <h4>Name of School</h4>
                </label>
                <input class="form-control" id="name-form" type="text" name="schoolname"></input>

                <br />
                <label for="country-form">
                    <h4>Country</h4>
                </label>
                <input class="form-control" id="country-form" type="text" name="countryname"></input>


                <br />
                <label for="state-form">
                    <h4>State/Province</h4>
                </label>
                <input class="form-control" id="state-form" type="text" name="statename"></input>

                <br />
                <label for="city-form">
                    <h4>City</h4>
                </label>
                <input class="form-control" id="city-form" type="text" name="cityname"></input>
            </div>

            <br /><br />

            <div class="d-grid gap-2 col-3">
                <button type="submit" class="btn btn-primary">Add School</button>
            </div>

        </div>