<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/main.scss">
    <script src="bootstrap.bundle.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row nav justify-content-start">
            <div class="col-6">
                <div class="vertical-center masthead">
                    <img src="images/logo_purple.png" alt="logo_purple" class="nav-logo">            
                    <p class="title">Rate My Study Room</p>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="login center">
                <h1 class="text-primary">Login</h1>
                <div class="login-box">
                    <form action="submit" class="login-form center" method="get">
                        <p>Username or Email</p>
                        <input type="text" name="username" id="username">
                        <p>Password</p>
                        <input type="text" name="password" id="password">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="text-center">
                    <a href="" class="link-primary">Reset Password</a><br>
                    <a href="" class="link-primary">Don't have an account?</a>
                </div>
                
            </div>
        </div>


    </div>

</body>