<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/myprofile.css">
    <link rel="stylesheet" href="style/main.scss">
    <script src="bootstrap.bundle.min.js"></script>
    <title>My Profile</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row nav">
            <div class="col-1">
                <img src="style/logo_purple.png" alt="logo_purple" class="nav-logo vertical-center">
            </div>
            <div class="col">
                <p class="vertical-center title">Rate My Study Room</p>
            </div>
            <div class="col-7"></div>
        </div>
        <div class="row profile-title">
            <div class="vertical-center text-center">
                <h1>My Profile</h1>
            </div>
        </div>
        <div class="row profile-info">
            <div class="profile-pic"></div>
            <div class="col profile-col-1">
                <p class="username">Username</p>
                <button type="button" class="btn btn-primary" style="width:150px">Edit Profile</button>
            </div>
            <div class="col-3"></div>
            <div class="col profile-col-2">
                <div>
                    <span class="spaces-rated-num">79</span><span class="spaces-span" style="margin-left: 20px;">spaces rated</span>
                </div>
                <span class="spaces-span">Favorite Space: </span><span class="spaces-span">Chinook Study Room</span>
            </div>
        </div>
        <div class="row spaces">
            <div class="col">
                <div class="my-spaces">
                    <h2>My Spaces</h2>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col">
                <div class="rated-spaces">
                    <h2>Rated Spaces</h2>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/7c8801c017.js" crossorigin="anonymous"></script>
</body>
</html>